<section>
    <div class="form-container">
        <h2 class="form-title">Login</h2>
        <form>
            <div class="mb-4">
                <label class="form-label
                " for="username">Usuário</label>
                <input class="form-input
                " id="username" type="text" placeholder="Usuário" />
            </div>
            <div class="mb-4">
                <label class="form-label
                " for="password">Senha</label>
                <input class="form-input
                " id="password" type="password" placeholder="Senha" />
            </div>
            <div class="flex items-center justify-between">
                <button class="form-button" type="button">Entrar</button>
            </div>
        </form>
    </div>
</section>