* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    min-height: 100vh;
    background-color: #f8fafc;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
